body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
header {
  padding: 10px;
}
header div {
  gap: 10px;
}
ol {
  margin: 0px !important;
}
.color-primary {
  color: #9B7858;
}
.button-primary {
  background-color: #9B7858;
  min-width: 350px;
  border-radius: 5px;
  border: none;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} 

.g-10 {
  gap: 10px;
}

.title-header-fontsize {
  font-size: 1.25rem;
}
 